<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<p>Created On: <%= standard_date_format(@question.created_at) %></p>

<!-- <p><strong>Subject:</strong> <%= @question.subject.name if @question.subject %></p> -->
<p><strong>Subject:</strong> <%= @question.subject&.name %></p>

<% if can? :edit, @question %>
  <%= link_to 'Edit', edit_question_path(@question) %>

  <%# Rails enables us to make links end non-GET requests by setting the `method`
      attribute for `link_to`. Rails uses Javascript to accomplish that. %>
<% end %>

<% if can? :destroy, @question %>
  <%= link_to 'Delete', question_path(@question),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
<% end %>

<h2>Answers</h2>

<%= @answer.errors.full_messages.join(', ') %>
<%# action=/questions/:question_id/answers %>
<%= form_for [@question, @answer] do |f| %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>

<hr />

<% @question.answers.each do |answer| %>
  <p><%= answer.body %></p>

  <%= link_to(
    '💣 Delete', question_answer_path(@question, answer), method: :delete,
    data: {confirm: 'Are you sure?'}
  ) %>

  <hr />
<% end %>
